{% extends 'base.html' %}
    {% load static %}
    {% block content %}
    <section class="about-us">
        <base href="https://nimetsurmeli.github.io/Fairsante/">

        <div class="container">
            <h1>About Us</h1>
            <div class="row">
            <div class="col-md">
                <p>
                    The ‘clean product’ concept, which is a relatively new term in our lives, began to be used frequently in the media. The concept has started to be used in various contexts such as advertisements, social media and similar platforms. By its simplest definition, clean products are products which are safe for human use and do not include any toxic ingredients.

                    Anyone who consciously purchases cosmetic and personal care products wants to know whether the product they use will harm themselves, animals or nature. However, it is unlikely that people who have not studied chemistry or a similar field know which side effects these ingredients cause by only checking the ingredients list and qualify the products as clean. In order to do so, consumers need to do preliminary research on these products, but it is not something to do by such a quick scanning. In this context, we, as a team, came up with the idea of a web application in which consumers can check the ingredients of the cosmetic and personal care products. Thanks to this web application, users can quickly and practically obtain detailed and comprehensive information about the ingredients of the products they want to buy.

                    We also observed that there are a number of people who are unconsciously exposed to the ingredients of cosmetic and personal care products because it is not easy to recognize toxic ingredients on cosmetic products. Thanks to this timesaving web application, we aim to facilitate the process of accessing the right information for consumers who are already checking the ingredients of the products, as well as to create awareness for consumers who do not have this consciousness.
                </p>
            </div>
            </div>
        </div>

    </section>

    {% endblock %}
